body{
    font-family: Arial;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

input,button{
    margin:5px;
    padding:10px;
    border:none;
    border-radius:5px;
}

button{
    background:#3b82f6;
    color:white;
}

a{
    color:#3b82f6;
    text-decoration:none;
}