<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-center">
    <div class="card">
        <div class="form-title">Forgot Password</div>

        {% if message %}
            <div class="message-error">{{ message }}</div>
        {% endif %}

        <form method="POST">
            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>

            <button class="btn" type="submit">Send confirmation code</button>
        </form>

        <a class="link-text" href="{{ url_for('reset_password') }}">I have a code</a>
        <a class="link-text" href="{{ url_for('login') }}">Back to login</a>
    </div>
</div>

</body>
</html>