<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historique</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="history-box">
    <h2>Historique des calculs</h2>

    <div class="table-wrapper">
        <table>
            <tr>
                <th>x1</th>
                <th>x2</th>
                <th>P1</th>
                <th>P2</th>
                <th>P</th>
                <th>y1</th>
                <th>y2</th>
            </tr>

            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="result-actions">
        <a href="{{ url_for('dashboard') }}">Retour</a>
    </div>
</div>

</body>
</html>