<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arij Web Application - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div id="welcome" class="welcome-screen">
    <img src="{{ url_for('static', filename='logo.jpeg') }}" class="welcome-logo" alt="Logo">
    <h1>Welcome</h1>
    <h2>Arij</h2>
    <h3>Welcome to Arij Web Application</h3>
    <div class="loader"></div>
</div>

<div id="loginBox" class="login-wrapper">
    <div class="page-center">
        <div class="card">
            <img src="{{ url_for('static', filename='logo.jpeg') }}" class="logo" alt="Logo">

            <div class="uni-title">Arij Web Application</div>
            <div class="uni-subtitle">جامعة الحسن الأول</div>

            <div class="form-title">Login</div>

            {% if error %}
                <div class="message-error">{{ error }}</div>
            {% endif %}

            <form method="POST">
                <div class="input-group">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Enter username" required>
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter password" required>
                </div>

                <button type="submit" class="btn">Se connecter</button>
            </form>

            <a class="link-text" href="{{ url_for('register') }}">Create an account</a>
            <a class="link-text" href="{{ url_for('forgot_password') }}">Forgot password?</a>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        document.getElementById("welcome").style.display = "flex";
        document.getElementById("loginBox").style.display = "none";

        setTimeout(() => {
            document.getElementById("welcome").style.display = "none";
            document.getElementById("loginBox").style.display = "block";
        }, 3000);
    }
</script>

</body>
</html>
